[Desktop Entry]
Type=Application
Name=AVMirror Local
Comment=Servidor local AVMirror para Stremio
Exec=/usr/bin/avmirror-local-open
TryExec=/usr/bin/avmirror-local-open
Icon=avmirror
Terminal=false
StartupNotify=true
Categories=AudioVideo;Network;
Keywords=Stremio;AVMirror;servidor;addon;
