[Desktop Entry]
Type=Application
Name=AVMirror Local
Comment=Servidor local AVMirror para Stremio
Exec=avmirror-local-open
Icon=applications-internet
Terminal=false
Categories=AudioVideo;Network;
Keywords=Stremio;AVMirror;servidor;addon;
